apiVersion: apps/v1
kind: Deployment
metadata:
    name: nginx 
    labels:
      project: expense
      environment: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      project: expense
      environment: dev
  template:
    metadata:
      labels:
        project: expense
        environment: dev
    spec:
      containers:
        - name: nginx
          image: nginx
---
apiVersion: v1
kind: Service
metadata:
   name: lb-service
spec:
  type: LoadBalancer
  selector:
      project: expense
      environment: dev
  ports:
    - name: nginx-svc-port
      protocol: TCP
      port: 80 # service port
      targetPort: 80 # container port
